<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seat Detail</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.0.js"></script> <!-- Iamport SDK -->
</head>
<body>
<h1>영화 정보</h1>
<p>좌석 ID: <span th:text="${seatID}"></span></p>
<p>영화 제목: <span th:text="${movieName}"></span></p>
<p>영화관 이름: <span th:text="${cinemaName}"></span></p>
<p>티켓 가격: <span th:text="1"></span></p>

<!-- 내부적으로 ID 값을 저장하기 위한 hidden 필드 -->
<input type="hidden" th:value="${movieId}" id="movieId" />
<input type="hidden" th:value="${cinemaId}" id="cinemaId" />

<!-- 결제 버튼 추가 -->
<div class="ka_pay_btn">
    <button type="button" onclick="ka_request_pay()">카카오페이</button>
</div>
<div class="kg_pay_btn">
    <button type="button" onclick="kg_request_pay()">kg이니시스</button>
</div>

<script>

    function kg_request_pay() {
        IMP.request_pay({
            pg : 'html5_inicis',
            pay_method : 'card',
            merchant_uid: "order_no_0001", // 상점에서 관리하는 주문 번호를 전달
            name : '주문명:결제테스트',
            amount : 14000,
            buyer_email : 'iamport@siot.do',
            buyer_name : '구매자이름',
            buyer_tel : '010-1234-5678',
            buyer_addr : '서울특별시 강남구 삼성동',
            buyer_postcode : '123-456',
            m_redirect_url : '{모바일에서 결제 완료 후 리디렉션 될 URL}' // 예: https://www.my-service.com/payments/complete/mobile
        },  function(rsp) {
            if (rsp.success) {
                // 결제 성공 처리
                alert('결제가 완료되었습니다.');
                console.log(rsp);
                // 결제 정보 저장 로직 추가
            } else {
                // 결제 실패 처리
                alert('결제에 실패하였습니다: ' + rsp.error_msg);
            }
        });

    }



    function ka_request_pay() {
        var IMP = window.IMP; // Iamport 객체 가져오기
        if (!IMP) {
            alert("결제 모듈이 로드되지 않았습니다.");
            return;
        }

        IMP.init('imp12648182'); // 가맹점 식별코드

        IMP.request_pay({
            pg: 'kakaopay',
            pay_method: 'card',
            merchant_uid: 'order_no_' + new Date().getTime(),
            name: '주문명:결제테스트',
            amount: 1,
            buyer_email: 'iamport@siot.do',
            buyer_name: '구매자이름',
            buyer_tel: '010-1234-5678',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456'
        }, function(rsp) {
            if (rsp.success) {
                // 결제 성공 처리
                alert('결제가 완료되었습니다.');
                console.log(rsp);
                // 결제 정보 저장 로직 추가
            } else {
                // 결제 실패 처리
                alert('결제에 실패하였습니다: ' + rsp.error_msg);
            }
        });
    }
</script>

</body>
</html>
